/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 8, 2018, 5:42:46 PM
    Author     : mattm
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 4px;
}

form.nav {
    float: left;
}

input[type=submit].nav {
    float: left;
    background-color: #333;
    width:100%;
    display:block;
    text-align:center;
    font-size: 1em;
    font-family: serif;
    border: none;
    border-radius: 0px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
    outline: none;
}

input[type=submit].nav:hover {
    background-color: #111;
}

input[type=submit].nav.active {
    background-color: #91b6d0;
}